.img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.card{
    background-color: var(--secondary-color) !important;
    border: 1px solid #212529 !important;
}

.seller{
    font-style: italic !important;
    color: var(--text-color) !important;
}