.top-sell-products{
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.carousel-item a{ 
    color: var(--primary-color) !important;
}
.carousel{
    width: calc(100% - 185px);
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
}
 
.carousel div{
    border-radius: 10px;
    overflow: hidden;
}
 
.carousel-item-image{
    width: 100%;
    height: 720px;
    border-radius: 10px;
    position: relative;
    margin-top: 1.25rem;
        object-fit: contain;
    background-color: white;
}

.carousel-caption h3{
    color: var(--primary-color);
    font-weight: 700;
}
.carousel-caption p{
    color: var(--accent-color);
    font-weight: 600;
}