.carousel{
    width: 1380px;
    height: 720px;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

.carousel div{
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item-image{
    width: 1380px;
    height: 720px;
    border-radius: 10px;
    position: relative;
    left: calc(50% - 690px);
    bottom: 1.25rem;
    margin-top: 1.25rem;
    object-fit: fill;
}

